body {
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}

.titulo {
    color: orange;
}

#container {
    margin-top: 20px;
}

input {
    font-size: 24px;
    text-align: center;
    background: none;
    border: none;
    color: yellow;
    width: 80%;
    font-family: 'Comic Sans MS', cursive;
    outline: none;
}

#resultado {
    font-size: 40px;
    color: lime;
    margin-top: 10px;
}
